<div class="atSection atCore">
  <h1 class="atSectionTitle">Core I/O</h1>
  <p>
    Athena's primary taskflow involves use of <em>I/O stream objects</em> to convey
    data to and from a binary medium. The stream objects are used to iteratively
    read bytes from the data source and convert them into usable data-primitives
    (i.e. integers, floats, SIMD vectors).
  </p>

  <h2>I/O Streaming</h2>
  <p>
    I/O streams have a common virtual interface in Athena, so code that consumes or
    emits data is written against <a href="">Athena::io::IStreamReader</a> and/or 
    <a href="">Athena::io::IStreamWriter</a>. Projects may use type aliasing to 
    make Athena's namespacing more convenient for projects that use it heavily.
  </p>

  <p>Assume the following example data class:</p>
  <div class="atIDE">
    <h1>DemoRecord.hpp</h1>
{% athighlight c++ %}
#include <Athena/IStreamReader.hpp>
#include <Athena/IStreamWriter.hpp>
using ReadStream = Athena::io::IStreamReader;
using WriteStream = Athena::io::IStreamWriter;

class MyDataRecord
{
    atUint32 m_valTest;
    atUint32 m_valU32;
    bool m_valBool;
    std::string m_string;
public:
    void readData(ReadStream& stream);
    void writeData(WriteStream& stream) const;
};
{% endathighlight %}
  </div>

  <p>The implementations for the I/O methods look like this:</p>
  <div class="atIDE">
    <div class="atReadLayer">
      <h1>ReadDemo.cpp</h1>
{% athighlight c++ %}
#include "DemoRecord.hpp"
void MyDataRecord::readData(ReadStream& stream)
{
    /* Specify stream's default endianness as big for 
     * this demo. All multi-byte numeric accesses will
     * adhere to this unless the 'Big' or 'Little' 
     * read/write method suffix is used */
    stream.setEndian(Athena::BigEndian);

    /* A default-endian (Big here) read of 4-bytes (32-bits)
     * tightly packed in the binary stream */
    m_valTest = stream.readUint32();

    /* Read 4-bytes and convert to 32-bit system word 
     * (Little to host-endian; overriding the default Big) */
    m_valU32 = stream.readUint32Little();

    /* Read 1-byte and convert to bool type */
    m_valBool = stream.readBool();

    /* Read null-terminated C-string (however long it is) 
     * and construct std::string to contain it */
    m_string = stream.readString(-1);
}
{% endathighlight %}
    </div>
    <div class="atWriteLayer">
      <h1>WriteDemo.cpp</h1>
{% athighlight c++ %}
#include "DemoRecord.hpp"
void MyDataRecord::writeData(WriteStream& stream) const
{
    /* Specify stream's default endianness as big for 
     * this demo. All multi-byte numeric accesses will
     * adhere to this unless the 'Big' or 'Little' 
     * read/write method suffix is used */
    stream.setEndian(Athena::BigEndian);

    /* A default-endian (Big here) write of 4-bytes (32-bits)
     * tightly packed in the binary stream */
    stream.writeUint32(m_valTest);

    /* Emit 4-bytes with binary 32-bit word 
     * (host-endian to Little; overriding the default Big) */
    stream.writeUint32Little(m_valU32);

    /* Emit 1 byte with value 0 or 1 according to bool input */
    stream.writeBool(m_valBool);

    /* Write null-terminated C-string from input std::string */
    stream.writeString(m_string);
}
{% endathighlight %}
    </div>
  </div>

  <h2>Built-in Stream Backends</h2>
  <p>
    Athena ships with some useful streaming backends to get common
    data interfaces up and going.
  </p>

  <h3>File Streams (with built-in memory buffering)</h3>
  <div class="atIDE">
    <div class="atReadLayer">
      <h1>ReadDemoFile.cpp</h1>
{% athighlight c++ %}
MyDataRecord ConstructAndRead(const std::string& filePath)
{
    Athena::io::FileReader reader(filePath);
    MyDataRecord dataObject;
    dataObject.readData(reader);
    return dataObject;
}
{% endathighlight %}
    </div>
    <div class="atWriteLayer">
      <h1>WriteDemoFile.cpp</h1>
{% athighlight c++ %}
void WriteExistingObject(const std::string& filePath, const MyDataRecord& obj)
{
    Athena::io::FileWriter writer(filePath);
    obj.writeData(writer);
}
{% endathighlight %}
    </div>
  </div>

  <h3>Memory Streams (application-owned buffer)</h3>
  <div class="atIDE">
    <div class="atReadLayer">
      <h1>ReadDemoMem.cpp</h1>
{% athighlight c++ %}
MyDataRecord ConstructAndRead(void* buf, atUint64 len)
{
    Athena::io::MemoryReader reader(buf, len);
    MyDataRecord dataObject;
    dataObject.readData(reader);
    return dataObject;
}
{% endathighlight %}
    </div>
    <div class="atWriteLayer">
      <h1>WriteDemoMem.cpp</h1>
{% athighlight c++ %}
void WriteExistingObject(void* buf, atUint64 len, const MyDataRecord& obj)
{
    Athena::io::MemoryWriter writer(buf, len);
    obj.writeData(writer);
}
{% endathighlight %}
    </div>
  </div>

  <h3>Memory Copy Streams (stream-owned copy buffer)</h3>
  <div class="atIDE">
    <div class="atReadLayer">
      <h1>ReadDemoMemCopy.cpp</h1>
{% athighlight c++ %}
Athena::io::MemoryCopyReader ConstructAndRead(void* buf, atUint64 len, MyDataRecord& obj)
{
    /* Constructor performs buffer copy */
    Athena::io::MemoryCopyReader reader(buf, len);
    obj.readData(reader);

    /* Raw data is still contained within reader for 
     * continued lifetime without being clobbered */
    return reader; 
}
{% endathighlight %}
    </div>
    <div class="atWriteLayer">
      <h1>WriteDemoMemCopy.cpp</h1>
{% athighlight c++ %}
Athena::io::MemoryCopyWriter WriteExistingObject(void* buf, atUint64 len, const MyDataRecord& obj)
{
    /* Constructor performs buffer copy */
    Athena::io::MemoryCopyWriter writer(buf, len);
    obj.writeData(writer);

    /* Raw data is still contained within writer for 
     * continued lifetime without being clobbered */
    return writer;
}
{% endathighlight %}
    </div>
  </div>

  <h2>Custom Stream Backends</h2>
  <p>
    The actual data interfacing occurs via raw-byte transfers using
    IStreamReader::readUBytesToBuf() and 
    IStreamWriter::writeUBytes(). Programs needing to interface
    with custom data streams do so by inheriting IStreamReader/Writer and
    implementing a few methods.
  </p>
  <div class="atIDE">
    <div class="atReadLayer">
      <h1>MyReadBackend.hpp</h1>
{% athighlight c++ %}
#include <Athena/IStreamReader.hpp>
class MyReadBackend : public Athena::io::IStreamReader
{
    MyReadSource& m_source
    atUint64 m_curPos = 0;
public:
    MyReadBackend(MyReadSource& source)
    : m_source(source) {}

    /* Some applications (like this demo) may not
     * require random-access; leave this implementation as a stub */
    void seek(atInt64 pos, SeekOrigin origin)
    {}

    /* Identifies current stream-position (byte index to be read next) */
    atUint64 position() const
    {
        return m_curPos;
    }

    /* Identifies source length */
    atUint64 length() const
    {
        return m_source.getLength();
    }

    /* Performs read to provided buffer 
     * (automatically called by data-primitive methods like readUint32) */
    atUint64 readUBytesToBuf(void* buf, atUint64 len)
    {
        atUint64 rLen = m_source.readData(buf, len);
        m_curPos += rLen;
        return rLen;
    }
};
{% endathighlight %}
    </div>
    <div class="atWriteLayer">
      <h1>MyWriteBackend.hpp</h1>
{% athighlight c++ %}
#include <Athena/IStreamWriter.hpp>
class MyWriteBackend : public Athena::io::IStreamWriter
{
    MyWriteDestination& m_dest;
    atUint64 m_curPos = 0;
public:
    MyWriteBackend(MyWriteDestination& dest)
    : m_dest(dest) {}

    /* Some applications (like this demo) may not
     * require random-access; leave this implementation as a stub */
    void seek(atInt64 pos, SeekOrigin origin)
    {}

    /* Identifies current stream-position (byte index to be written next) */
    atUint64 position() const
    {
        return m_curPos;
    }

    /* Identifies destination capacity */
    atUint64 length() const
    {
        return m_dest.getCapacity();
    }

    /* Performs write using provided buffer 
     * (automatically called by data-primitive methods like writeUint32) */
    atUint64 writeUBytes(void* buf, atUint64 len)
    {
        atUint64 wLen = m_dest.writeData(buf, len);
        m_curPos += wLen;
        return wLen;
    }
};
{% endathighlight %}
    </div>
  </div>

</div>
