/**
 * Doc columns
 */

.doc-col-split {
    margin-left:auto;
    margin-right:auto;
}

.doc-col {
	/*min-width:480px;*/
	@media (min-width:960px) {float:left; width:48%;}
    margin:1%;
}

.doc-col pre {
    /*overflow:scroll;*/
}
