<!DOCTYPE html>
<html>

  {% include head.html %}

  <style type="text/css">
    .atReadLayer {
        height: auto;
        overflow: hidden;
        -webkit-transition: height 1s;
        transition: height 1s;
    }
    .atWriteLayer {
        height: 0;
        overflow: hidden;
        -webkit-transition: height 1s;
        transition: height 1s;
    }
  </style>

  <body>

    {% assign rwnav = 'true' %}
    {% include header.html %}

    <div class="atBigSexyLogo">
      <div class="atBigSexyLogoImageCont"><div class="atBigSexyLogoImage"></div></div>
      <span class="atBigSexyLogoText">Athena</span>
      <span class="atBigSexyLogoSubtext">Universal C++11 Data-Interchange System</span>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
